<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Detalles</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Nombre del Heroe: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name"/>
   <div>
    <label for="hero-age"> Edad: </label>
    <input id="hero-age" [(ngModel)]="hero.age" placeholder="age">
  </div>
  <div>
    <label for="hero-power"> Poder: </label>
    <input id="hero-power" [(ngModel)]="hero.power" placeholder="power">
  </div>
  <div>
    <label for="hero-universe">  Universo: </label>
    <input id="hero-universe" [(ngModel)]="hero.universe" placeholder="universe">
  </div>
  <div>
    <label for="hero-secret_identity"> Identidad secreta: </label>
    <input id="hero-secret_identity" [(ngModel)]="hero.secret_identity" placeholder="secret_identity">
  </div>

  </div>
  
  <button (click)="goBack()">Regresar a la lista de heores </button>
  <button (click)="save()">Guardas datos del heroes</button>

</div>


